<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div>
      Signup with Google
    </div>
    <a href="/auth/google">Google</a>
    <hr>
    <div>
      Signup with Twitter
    </div>
    <a href="/auth/twitter">Twitter</a>
  </body>
</html>
