<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    .div_border {
      width: 300px;
      border: 10px solid blueviolet;
      padding: 25px;
      margin: 25px;
    }
  </style>
</head>

<body>

  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>

  <div class="div_border">
    <div>
      Sigin with Google
    </div>
    <a href="/auth/google">Google</a>
    <hr>
    <div>
      Sigin with Twitter
    </div>
    <a href="/auth/twitter">Twitter</a>
    <hr>
    <div>
      Sigin with Facebook
    </div>
    <a href="/auth/facebook">Facebook</a>
  </div>


</body>

</html>